.rightArrowStyles {
    position: absolute;
    top: 50%;
    transform: 'translate(0; -50%)';
    right: 32px;
    font-size: 45px;
    color: black;
    z-index: 1;
    cursor: pointer;
}

.leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: 'translate(0; -50%)';
    left: 32px;
    font-size: 45px;
    color: black;
    z-index: 1;
    cursor: pointer;
}

.sliderStyles {
    position: relative;
    height: 100%;
}

.title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

.subtitle {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
.row-gap{
    margin-top: 10px;
  }